.query-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: center;
    background: transparent;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  
  .query-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
  }
  
  .query-content {
    margin-bottom: 2rem;
  }
  
  .query-text {
    font-size: 1.1rem;
    line-height: 1.3;
    margin: 0.5rem 0;
    color: #e0e0e0;
    font-style: italic
  }
  
  
  .mail-link:hover {
    color: #ff69b4;
  }
  
  .click-here {
    display: inline-block;
    color: #9d4fca;
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .click-here:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(147, 112, 219, 0.3);
  }
  
  .social-links {
    display: flex;
    gap: 1.5rem;
    margin-top: -6px;
  }
  
  .social-icon {
    color: #9370db;
    transition: all 0.3s ease;
  }
  
  .social-icon:hover {
    color: #ff69b4;
    transform: translateY(-2px);
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @media (max-width: 768px) {
    
    .query-title {
      font-size: 2.5rem;
    }
  
    .query-text {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 420px){
    .query-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        text-align: center;
        background: transparent;
        margin-top: 4rem;
        margin-bottom: 3rem;
      }
      
      .query-title {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 0.1rem;
      }
      
      .query-content {
        margin-bottom: 1rem;
      }
      
      .query-text {
        font-size: 0.55rem;
        line-height: 0.4;
        margin: 0.5rem 0;
        color: #e0e0e0;
      }
      
      
      .mail-link:hover {
        color: #ff69b4;
      }
      
      .click-here {
        display: inline-block;
        color: #9d4fca;
        padding: 0.2rem 0.4rem;
        border-radius: 10px;
        text-decoration: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
      
      .click-here:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(147, 112, 219, 0.3);
      }
      
      .social-links {
        display: flex;
        gap: 1.5rem;
        margin-top: -2px;
      }
      
      .social-icon {
        color: #9370db;
        transition: all 0.3s ease;
        padding: 0.1rem 0.2rem;
      }
      
      .social-icon:hover {
        color: #ff69b4;
        transform: translateY(-2px);
      }
  }